reference.py
*.idea
*.DS_Store
package-lock.json
assets/
__pycache__/
templates/__pycache__/
modules/__pycache__/


*.pyc
.Python
pip-selfcheck.json

ENV/heroku-ssh-key
ENV/heroku-ssh-key.pub
ENV/__pycache__
ENV/bin
ENV/include
ENV/lib
ENV/.Python
ENV/bin/
ENV/templates
ENV/class_modules/output_test.txt

.vscode
.iml